* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

.fixed-width {
    max-width: 1270px;
    margin: auto;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: 'Work Sans', sans-serif;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
}

.header .header-logo {
    width: 30%;
}

.header .header-logo img {
    height: 45px;
    width: auto;
    float: left;
}

.header .header-logo span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 7px;
    font-size: 27px;
    color: #010101;
    font-weight: 500;
}

.header .header-menu {
    width: 50%;
}

.header .header-menu ul {
    list-style: none;
}

.header .header-menu ul li {
    display: inline-block;
    position: relative;
}

.header .header-menu ul li a {
    display: block;
    color: #010101;
    padding: 0 15px;
    line-height: 50px;
    letter-spacing: 1px;
    transition: .4s;
}

.header .header-menu ul li:hover > a {
    color: #6278df;
    background-color: #FCFAFA;
}

.header .header-button {
    width: 20%;
}

.header-button a {
    color: #6278df;
    padding: 10px 30px;
    border: 2px solid #6278df;
    border-radius: 5px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    transition: .4s;
}

.header-button a:hover {
    color: #fff;
    background-color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}

.header-menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 275px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .3s;
}
.header-menu ul ul li{
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.header-menu ul ul li a {
    padding: 0 30px !important;
}
.header-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.banner {
    background: url(img/mbr-4.jpg) center;
    background-size: cover;
    padding: 170px;
    position: relative;
    z-index: 2; /* -2 chilo */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.banner-text .text1 {
    color: #fff;
    font-size: 25px;
}

.banner-text .text2 {
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    padding: 35px;
}

.banner-text a {
    color: #7d7d7d;
    background-color: #fcfcfc;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 30px;
    display: inline-block;
    transition: .4s;
}

.banner-text .google-btn {
    margin-right: 10px;
}

.banner-text .apple-btn {
    margin-left: 10px;
}

.banner-text a:hover {
    color: #fcfcfc;
    background-color: #6278df;
}
.video-section{
    background-color: #f7f9ff;
    padding: 60px;
}
.video-section .video-left{
    width: 50%;
}
.video-section .video-right{
    width: 50%;
}
.just-video{
    margin-right: 20px;
}
.video-text{
    margin-left: 20px;
}
.header-light{
    font-size: 50px;
    font-weight: 400;
}
.video-text h1{
    line-height: 65px;
}
.text-content {
    color: #767676;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 300;
}
.video-text p{
    margin-top: 30px;
}
.our-app{
    padding: 60px;
}
.our-app h1 {
    font-size: 60px;
    line-height: 100px;
}
.heading-bottom{
    color: #767676;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
}
.service{
    padding-top: 10px;
    padding-bottom: 60px;
    transition: .5s;
}
.service .row1,.row2{
    transition: .5s;
}
.row1{
    margin-bottom: 50px;
}
.service .row-item{
    width: 31.3%;
    padding: 60px 0;
    border: 1px solid #fff;
    margin-left: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.service .row-item h4 {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    float: right;
    margin-bottom: 30px;
    margin-right: 45px;
    margin-top: 5px;
}
.service .row-item span {
    color: #6278df;
    font-size: 45px;
    float: left;
    width: 15%;
    margin-left: 35px;
}
.item1{
    margin-right: 100px !important;
}
.item3{
    margin-right: 120px !important;
}
.row-item p {
    float: right;
    width: 70%;
    padding-right: 10px;
    position: relative;
    left: 10px;
}
.p1 {
    position: relative !important;
    left: 8px !important;
}
.service .row-item:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.item4 {
    position: relative;
    right: 62px;
}
.item5 {
    position: relative;
    right: 109px;
}
.item6 {
    position: relative;
    right: 118px;
}
.prime{
    background-color: #f7f9ff;
    padding-bottom: 60px;
}
.sub{
    padding: 60px;
}
.membership h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}
.membership p {
    font-size: 26px;
    text-align: center;
}

.subscription-item{
    width: 31.3%;
    border: 1px solid #fff;
    height: 1000px;
    background-color: #fff;
    margin-left: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    transition: .5s;
    border-radius: 5px;
}
.subs-top{
    width: 100%;
    height: 35%;
    transition: .5s;
    border-bottom: 1px solid #ddd;
}
.subs-bottom{
    width: 100%;
    height: 65%;
    transition: .5s;
}
.subs-top h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 3px;
    padding: 30px;
}
.subs-top h3 {
    font-size: 60px;
    margin-left: 30px;
    letter-spacing: 5px;
    display: inline-block;
}
.subs-top h4 {
    margin-top: 35px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 500;
}
.subs-top h6 {
    display: inline-block;
    font-size: 21px;
}
.subs-top p {
    text-align: left;
    margin-top: 20px;
    font-size: 22px;
    float: left;
    width: 81%;
    margin-left: 30px;
}
.subs-top .p2 {
    text-align: left;
    margin-left: 30px;
}
.subs-top .p3{
    margin-left: 30px;
}

.subs-bottom span {
    font-size: 30px;
    font-weight: 900;
    color: #6278df;
    position: relative;
    top: 39px;
    left: 30px;
}
.subs-bottom p {
    text-align: left;
    margin-left: 80px;
}
.subs-bottom a {
    border: 1px solid #fff;
    padding: 20px 100px;
    position: relative;
    top: 90px;
    left: 30px;
    color: #6278df;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    transition: .3s;
}
.subscription-item:hover .subs-top{
    color: #fff;
    background-color: #6278df;
}
.subscription-item:hover a{
    color: #fff;
    background-color: #6278df;
}
.subscription-item:hover .uporer_p{
    color: #fff;
}
.subscription-item a:hover{
    color: #fff;
    background-color: #010101;
}
.ourteam {
    padding-top: 90px;
    padding-bottom: 60px;
}
.ourteam h2 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 70px;
}
.team-member{
    width: 23%;
    margin-left: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    border-radius: 8px;
    transition: .3s;
}
.team-member img {
    width: 100%;
    height: auto;
}
.intro {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 25px;
}
.intro h4 {
    font-size: 25px;
    font-weight: 500;
}
.intro p{}

.team-member:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.4);
}
.newsletter{
    padding: 80px;
    background-color: #f7f9ff;
}
.newsletter p {
    font-size: 25px;
}
.newsletter h4 {
    font-size: 45px;
    font-weight: 400;
    padding: 40px;
}
.newsletter .mail {
    width: 30%;
    padding: 22px 20px;
    font-size: 20px;
    opacity: .7;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    outline: none;
    margin-right: 2%;
    transition: .3s;
}
.newsletter .mail:focus{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.6);
    border-color: rgb(64,87,191);
}
.newsletter .submit {
    font-size: 22px;
    padding: 20px 80px 20px 80px;
    background: #6278df;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    border: 2px solid #6278df;
    transition: .2s;
}
.newsletter .submit:hover {
    background: #fff;
    color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}
.new{
    padding: 80px 0;
}
.new .row1{}
.new .row1 .item-left{
    width: 50%;
}
.new .row1 .item-left h2 {
    font-size: 45px;
    font-weight: 500;
}
.new .row1 .item-right{
    width: 50%;
}
.new .row1 .item-right p {
    font-size: 21px;
    font-weight: 400;
    margin-left: 12px;
}
.new .item{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    width: 49%;
}
.new .item:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.left-itm{
    margin-right: 1%;
}
.right-itm{
    margin-left: 1%;
}
.new .item .img-left{
    width: 50%;
}
.new .item .right-text {
    width: 50%;
    padding: 25px;
}
.new .item .right-text h4 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.new .item .right-text p{
    font-size: 23px;
}
.feedback{
    padding: 60px 0;
    background-color: #f7f9ff;
}
.feedback p{
    font-size: 25px;
}
.feedback h2 {
    font-size: 40px;
    font-weight: 400;
    padding: 30px 0 80px 0;
}
.feed{}
.feed-item {
    background-color: #fff;
    width: 29.3%;
    border: 1px solid #ddd;
    padding: 35px 15px;
    margin-left: 4%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    transition: .3s;
}
.feed-item:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.feed-item p {
    font-size: 21px !important;
}
.item-bottom {
    padding: 30px 0 0 0;
    width: 33.3%;
}
.item-bottom .item-img{
    width: 50%;
}
.item-bottom .item-img img{
    border-radius: 50%;
    width: 80px;
    height: auto;
}
.item-bottom .item-text{
    padding: 15px 35px;
    width: 50%;
}
.item-bottom .item-text h4 {
    font-size: 20px;
    font-weight: 500;
}
.item-bottom .item-text p{
    font-size: 18px;
}
.contact{
    padding: 60px 0;
}
.google-map{
    width: 50%;
}
.contact-form{
    width: 50%;
}
.contact-form h4 {
    font-weight: 500;
    font-size: 25px;
    padding: 60px 0 20px 80px;
}
.contact-form p{
    font-size: 21px;
    padding: 0 0 55px 80px;
}
.contact-mail {
    width: 87.5%;
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 20px 20px 20px 25px;
    margin-left: 80px;
}
.contact-name {
    width: 41%;
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 20px 20px 20px 25px;
    margin-left: 80px;
}
.contact-number{
    width: 43%;
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 20px 20px 20px 25px;
}
.contact-sms {
    margin-left: 80px;
    padding: 20px 20px 20px 25px;
    font-size: 22px;
    border: 1px solid #ddd;
}
.mb{
    margin-bottom: 20px;
}
.total-form{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    outline: none;
    border-radius: 7px;
    transition: .2s;
}
.total-form:focus{
    border-radius: 7px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.5);
    border: 1px solid rgb(64,87,191);
}
.contact-send {
    font-size: 20px;
    padding: 18px 246px;
    background: #6278df;
    color: #fff;
    border-radius: 7px;
    font-weight: 800;
    margin-left: 80px;
    border: 2px solid #6278df;
    transition: .2s;
}
.contact-send:hover {
    background: #fff;
    color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}
.footer{
    padding-top: 10px;
    padding-bottom: 40px;
}
.footer p{
    font-size: 21px;
}